  <!DOCTYPE html>
  <html ng-app="starter">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <title></title>

      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">

      <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
      -->

      <!-- ionic/angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>

      <!-- cordova script (this will be a 404 during development) -->
      <script src="cordova.js"></script>

      <!-- your app's js -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDrKOrcsvzrv-eXgBFW7aN2Byw3Wj1b2Lk&sensor=true"></script>
      <script src="js/app.js"></script>
    </head>
    <body>



   <ion-nav-bar >
        <ion-nav-back-button class="icon-left ion-chevron-left">
        </ion-nav-back-button>
      </ion-nav-bar>

      <ion-nav-view class="slide-left-right"></ion-nav-view>


  <script id="1.html" type="text/ng-template" ng-controller="SignInCtrl">
   <div class="img-loc">
      <img src="img/logo_intro.png">
    </div>
  <div class="bar1 bg-footer">     
    <div class="row  responsive-sm">
    <div class="col">
      <button class="button button-block button-balanced" ng-click="create()">CREATE PROFILE</button>
    </div>
    <div class="col">
      <button class="button button-block">SIGN IN</button>
    </div>
  </div> 
  </div>
  </script>



  <script id="2.html" type="text/ng-template" ng-controller="SignInCtrl">
 <ion-view view-title>


   <ion-nav-buttons side="left">
           <div class="bar bar-header bar-shadow">
   <a class="button button-clear" style="color:white">
     Create Profile
    
       <i class="icon ion-ios-telephone" id="t1"></i>
      <i class="ion-android-more-vertical"></i>

   </a>
  </div>
          </ion-nav-buttons>
    

   <div class="list">

   <div class="middle">

  <h2><font size="5">What type of home <br/>buyer are you?</h2>

  </div>


  <div class="sublist">
   
   <a class="button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="next()"><font size="5">
   <i class="icon ion-home"></i>First time buyer</a>
   

   <a class="button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="next()"><font size="5">
   <i class="ion-android-bus"></i>Home mover</a>


   <a class=" button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="next()"><font size="5">
   <i class="icon ion-stats-bars"></i>Investor</a>


   <a class="button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="next()"><font size="5">
   <i class="icon ion-pinpoint"></i>Self builder</a>

  </div>
  </div>
   </ion-view>
  </script>




  <script id="3.html" type="text/ng-template" ng-controller="SignInCtrl">
  <ion-view view-title>

   <ion-nav-buttons side="left">
           <div class="bar bar-header bar-shadow">
   <a class="button button-clear" style="color:white">
  Your deposit
    
       <i class="icon ion-ios-telephone" id="t2"></i>
      <i class="ion-android-more-vertical"></i>

   </a>
  </div>
          </ion-nav-buttons>

   <div class="list">

   <div class="middle">

  <h2><font size="5">How is saving for<br/>your deposit going?</h2>

  </div>


  <div class="sublist">
   
   <a class="button icon-right ion-chevron-right button-clear button-light button-block" id=1 style="color:white" align="right" ng-click="nextPage()"><font size="5">
   <i class="icon ion-social-usd"></i>Great, all saved</a>
   

   <a class="button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="nextPage()"><font size="5">
    <i class="icon ion-social-reddit"></i>Nearly there</a>


   <a class=" button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="nextPage()"><font size="5"> <i class="icon ion-social-reddit-outline"></i>Just started</a>


   <a class="button icon-right ion-chevron-right button-clear button-light button-block" style="color:white" ng-click="nextPage()"><font size="5">
   <i class="icon ion-alert-circled"></i>Havent started</a>

  </div>
  </div>
   </ion-view>
  </script>




  <script id="4.html" type="text/ng-template" ng-controller="SignInCtrl">
  <ion-view view-title>

   <ion-nav-buttons side="left">
           <div class="bar bar-header bar-shadow">
   <a class="button button-clear" style="color:white">
        Location
    
       <i class="icon ion-ios-telephone" id="t3"></i>
      <i class="ion-android-more-vertical"></i>
       </a>
  </div>
        
    </ion-nav-buttons>
  <div class="list">

   <div class="middle">

  <h2 class="x"><font size="5">Fair play! Where are<br/>you looking to buy?</h2>

  </div>


  <div class="list">
    <label class="item item-input item-stacked-label">
  <input type="text" placeholder="City">
  </label>
  </div>


     

     <div id="map" data-tap-disabled="true"></div>
    

      <ion-footer-bar class="bar-stable">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
      </ion-footer-bar>
   

   <button class="button button-balanced button-block" id="four" ng-click="fifthPage()">
    NEXT
  </button>
  </ion-view>

  </script>

 



  <script id="5.html" type="text/ng-template" ng-controller="SignInCtrl">
  <ion-view view-title>

 <ion-nav-buttons side="left">
    <div class="bar bar-header bar-shadow">
       <a class="button button-clear" style="color:white">
        Your Mortgage
    
        <i class="icon ion-ios-telephone" id="t4"></i>
        <i class="ion-android-more-vertical"></i>
        </a>
    </div>
  </ion-nav-buttons>


    <div class="middle">

        <h2 class="y"><font size="5">Nice. Lets work out your</h2>
        <h2 class="z" align="center"><font size="5">repayment cost</h2>
    </div>


  
  <div class="row" id="row1">
      <div> <h4 id="para1" align="center">Property Price</h4></div>
      <a class= "button button-clear" id="inc" ng-click="inc1(-5000)" >-</a>
      <div class="col"><input type="text" id="five" placeholder="£120000" size="36.5" disabled ng-model="console1.value1"></div>
      <a class="button button-clear" id="inc" ng-click="inc1(5000)" >+</a>
  </div>

  
  <div class="row" id="row2">
      <div> <h4 id="para2" align="center">Deposit Saved</h4></div>
      <a class= "button button-clear" id="inc" ng-click="inc2(-1000)" >-</a>
      <div class="col"><input type="text" id="five" placeholder="£10000" size="36.5" disabled ng-model="console2"></div>
      <a class= "button button-clear" id="inc" ng-click="inc2(1000)" >+</a>
  </div>


  <div class="row" id="row2">
      <div> <h4 id="para3" align="center">Loan Term</h4></div>
      <a class= "button button-clear" id="inc" ng-click="inc3(-1)" >-</a>
      <div class="col"><input type="text" id="five" placeholder="35 Years" size="36.5"  disabled ng-model="console3"></div>
      <a class= "button button-clear" id="inc" ng-click="inc3(1)" >+</a>
  </div>

   
   <button class="button button-balanced button-block" id="button5" ng-click="sixthPage()">
    CREATE MY PROFILE
  </button>

  </ion-view>
  </script>





   
<script id="6.html" type="text/ng-template" ng-controller="SignInCtrl">
 <ion-view view-title>
   
 <div class="loading-spinner"></div>

 <div class="logo">
 <i class="ion-home" id="home6"></i>
 <h4 class="logopage">Building your profile</h4>
</div>


 </ion-view>
 
  </script>


  <script id="7.html" type="text/ng-template" ng-controller="SignInCtrl">
 <ion-view view-title>
<ion-nav-buttons side="left" id="final">
    <div class="bar bar-header bar-shadow" id="seven">
       <i class="ion-home" id="home7"></i>
       <a class="button button-clear" style="color:black" id="pane7">
          My Home
           
          <i class="icon ion-ios-telephone" id="t4"></i>
          <i class="ion-android-more-vertical"></i>
          </a>
      </div>
    </ion-nav-buttons>

 <div class="list card">

  <div class="item item-avatar" id="top">
 
 <div id="tcard">
  <i class="icon  ion-edit" id="top1"></i>
   <i class="ion-home" id="top2"></i>
  <i class="ion-ios-calculator-outline" id="top3"></i>
  
    </div>

    <h3 id="top4" style="color:white"> Add a photo of your dream home </h3>
  </div>

<div class="item item-avatar" >
  <div id="middle1">
      <h3 id="mid1"style="align:center"> Property Price</h3> 
      <div class="col" id="mid1a">
        <input type="text" id="mid2" size="46.5" ng-model="result1">
      </div>
    </div>

  <div id="middle2">
    <h3 id="mid3"> DEPOSIT</h3>
    <div class="col" id="mid3a"><input type="text" id="mid4" size="46.5" value="£25,000"></div>
    <progress max="100" value="80"  color="#33cd5f"></progress>
  </div>

  <div id="middle3">
    <div class="row">
      <div class="col" id="mid5">
          <h3 id="mid5a"> MORTGAGE</h3>
          <input type="text" id="mid5b" size="46.5" value="£225,000">
       </div>
      <div class="col" id="mid6">
        <h3 id="mid6a"> REPAYMENTS</h3>
        <input type="text" id="mid6b" size="46.5" value="£1,000">
      </div>
    </div>
  </div> 

  <div id="middle4">
   <div class="row">
    <div class="col" id="mid7">
      <h3 id="mid7a">FIXED RATE</h3>
      <input type="text" id="mid7b" size="46.5" value="4.49%">
    </div>


    <div class="col" id="mid8">LOAN TERM</div>

    <div class="col" id="mid9">SEE RATES</div>
   </div>
  </div>

  <div id="middle5">
    <h3 id="mid10" style="align:center"> RECALCULATE</h3>
   </div>
 </div>
</div>

 <a class="button button-balanced button-block" id="mid11">NEXT STEP: CONFIRM YOUR BORROWINGS
  
  </a>

  


 </ion-view>
 
  </script>

   </body>
   </html>